<%= form_with(model: viagem, local: true) do |form| %>
  <% if viagem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(viagem.errors.count, "erros") %> proíbem essa viagem de ser agendada:</h2>

      <ul>
      <% viagem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :usuario_id %>
    <%= form.collection_select(:usuario_id, @usuario, :id, :nome, prompt: true)%>
  </div>

  <div class="field">
    <%= form.label :veiculo_id %>
    <%= form.collection_select(:veiculo_id, @veiculo, :id, :placa, prompt: true)%>
  </div>

  <div class="field">
    <%= form.label :motorista_id %>
    <%= form.collection_select(:motorista_id, @motorista, :id, :nome, prompt: true)%>
  </div>

  <div class="field">
    <%= form.label :distância_Percorrida %>
    <%= form.text_field :distanciaPercorrida, id: :viagem_distanciaPercorrida %>
  </div>

  <div class="field">
    <%= form.label :finalidade %>
    <%= form.text_area :finalidade, id: :viagem_finalidade %>
  </div>

  <div class="field">
    <%= form.label :nome_do_Requisor %>
    <%= form.text_field :nomeRequisor, id: :viagem_nomeRequisor %>
  </div>

  <div class="field">
    <%= form.label :funcao_do_Requisitor %>
    <%= form.text_field :funcaoRequisitor, id: :viagem_funcaoRequisitor %>
  </div>

  <div class="field">
    <%= form.label :cpf_do_Requisitor %>
    <%= form.text_field :cpfRequisitor, id: :viagem_cpfRequisitor %>
  </div>

  <div class="field">
    <%= form.label :descrição_de_Imprevistos %>
    <%= form.text_area :descricaoImprevistos, id: :viagem_descricaoImprevistos %>
  </div>

  <div class="field">
    <%= form.label :número_de_Acompanhantes %>
    <%= form.number_field :numAcompanhantes, id: :viagem_numAcompanhantes %>
  </div>

  <div class="field">
    <%= form.label :data_de_Partida %>
    <%= form.datetime_field :dataPartida, id: :viagem_dataPartida %>
  </div>

  <div class="field">
    <%= form.label :data_de_Chegada %>
    <%= form.datetime_field :dataChegada, id: :viagem_dataChegada %>
  </div>

  <div class="field">
    <%= form.label :destino %>
    <%= form.text_field :destino, id: :viagem_destino %>
  </div>

  <div class="field">
    <%= form.label :realizada %>
    <%= form.check_box :realizada, id: :viagem_realizada %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
