<p id="notice"><%= notice %></p>
<div class = "title-container">
  <h1>Viagens</h1>
</div>

</div>
<ul>
  <%= form_tag viagems_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Buscando", :value => "Buscar" %>
  <% end %>
</ul>

<% @viagems.each do |viagem| %>
  <ul>
    <li>
      <%= link_to viagem.destino, viagem_path(viagem), class: "btn btn-default" %>
      <%= link_to "Desagendar", viagem, data: {:confirm => "Deseja desagendar a viagem?"}, :method => :delete, class: "btn btn-default" %>
    </li>
  </ul>
<% end %>
<br>

<br>

<%= link_to 'Agendar Viagem', new_viagem_path, class: "btn btn-default" %>
