<div class = "jumbotron text-center">
  <p id="notice"><%= notice %></p>
  <h1>Informações da viagem</h1>
  </br>
</div>
<div class="container">
  <div class="jumbotron">
<p>
  <strong>Usuário:</strong>
  <%= @viagem.usuario.nome %>
</p>

<p>
  <strong>Veículo:</strong>
  <%= @viagem.veiculo.placa %>
</p>

<p>
  <strong>Motorista:</strong>
  <%= @viagem.motorista.nome %>
</p>

<p>
  <strong>Distância Percorrida:</strong>
  <%= @viagem.distanciaPercorrida %>
</p>

<p>
  <strong>Finalidade:</strong>
  <%= @viagem.finalidade %>
</p>

<p>
  <strong>Nome do Requisor:</strong>
  <%= @viagem.nomeRequisor %>
</p>

<p>
  <strong>Função do Requisitor:</strong>
  <%= @viagem.funcaoRequisitor %>
</p>

<p>
  <strong>Cpf do Requisitor:</strong>
  <%= @viagem.cpfRequisitor %>
</p>

<p>
  <strong>Descrição de Imprevistos:</strong>
  <%= @viagem.descricaoImprevistos %>
</p>

<p>
  <strong>Número de Acompanhantes:</strong>
  <%= @viagem.numAcompanhantes %>
</p>

<p>
  <strong>Data de Partida:</strong>
  <%= @viagem.dataPartida %>
</p>

<p>
  <strong>Data de Chegada:</strong>
  <%= @viagem.dataChegada %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @viagem.destino %>
</p>

<p>
  <strong>Realizada:</strong>
  <%= @viagem.realizada %>
</p>

<%= link_to 'Editar', edit_viagem_path(@viagem), class:"btn btn-default" %> |
<%= link_to 'Voltar', viagems_path, class:"btn btn-default" %>

  </div>
</div>