<%= form_with(model: motoristum, local: true) do |form| %>
  <% if motoristum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(motoristum.errors.count, "error") %> prohibited this motoristum from being saved:</h2>

      <ul>
      <% motoristum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, id: :motoristum_cpf %>
  </div>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :motoristum_nome %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone, id: :motoristum_telefone %>
  </div>

  <div class="field">
    <%= form.label :numeroDeHoras %>
    <%= form.text_field :numeroDeHoras, id: :motoristum_numeroDeHoras %>
  </div>

  <div class="field">
    <%= form.label :bancoDeHoras %>
    <%= form.text_field :bancoDeHoras, id: :motoristum_bancoDeHoras %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
