<%= form_with(model: motorista, local: true) do |form| %>
  <% if motorista.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(motorista.errors.count, "erros") %> proíbem o motorista de ser salvo:</h2>

      <ul>
      <% motorista.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, id: :motorista_cpf %>
  </div>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :motorista_nome %>
  </div>

  <div class="field">
    <%= form.label :dias_de_Folga %>
    <%= form.date_field :diasDeFolga, id: :motorista_diasDeFolga %>
  </div>

  <div class="field">
    <%= form.label :banco_de_Horas %>
    <%= form.check_box :bancoDeHoras, id: :motorista_bancoDeHoras %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone, id: :motorista_telefone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
