<%= form_with(model: motorista, local: true) do |form| %>
  <% if motorista.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(motorista.errors.count, "erros") %> proíbem esse motorista de ser salvo:</h2>

      <ul>
      <% motorista.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :CPF %>
    <%= form.text_field :cpf, id: :motorista_cpf %>
  </div>

  <div class="field">
    <%= form.label :Nome %>
    <%= form.text_field :nome, id: :motorista_nome %>
  </div>

  <div class="field">
    <%= form.label :Numero_de_Horas %>
    <%= form.number_field :numeroDeHoras, id: :motorista_numeroDeHoras %>
  </div>

  <div class="field">
    <%= form.label :Banco_de_Horas %>
    <%= form.check_box :bancoDeHoras, id: :motorista_bancoDeHoras %>
  </div>

  <div class="field">
    <%= form.label :Telefone %>
    <%= form.text_field :telefone, id: :motorista_telefone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
