<p id="notice"><%= notice %></p>

<h1>Motorista</h1>
  <ul>
    <%= form_tag usuarios_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Buscando", :value => "Buscar" %>
    <% end %>
  </ul>

  <% @motorista.each do |motorista| %>
    <ul>
      <li>
        <%= link_to motorista.nome, motorista_path(motorista), class: "btn btn-default" %>
        <%= link_to "Remover", motorista, data: {:confirm => "Deseja remover o veículo?"}, :method => :delete, class: "btn btn-default" %></d>
      </li>
    </ul>
  <% end %>
<br>

<p>
  <%= link_to 'Novo Motorista', new_motorista_path, class: "btn btn-default" %><br />
</p>