<p id="notice"><%= notice %></p>
<div class= "title-container">
  <h1>Motoristas</h1>
</div>
  <ul>
    <%= form_tag motorista_index_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Buscando", :value => "Buscar" %>
    <% end %>
  </ul>

  <% @motorista.each do |motorista| %>
    <ul>
      <li>
        <%= link_to motorista.nome, motorista_path(motorista), class: "btn btn-default" %>
        <%= link_to "Remover", motorista, data: {:confirm => "Deseja remover o usuário?"}, :method => :delete, class: "btn btn-default" %>
      </li>
    </ul>
  <% end %>
<br>

<%= link_to 'Novo Motorista', new_motorista_path, class:"btn btn-default" %>
