<p id="notice"><%= notice %></p>
<div class= "jumbotron text-center">
  <h1>Motoristas <%= image_tag("driver.png", :alt => "bus", height: 55, width: 55) %></h1>
  <p1>Página principal que lista por nome os motoristas já cadastrados</p1>
</div>
<div class="container">
  <div class="jumbotron">
  <ul>
    <%= form_tag motorista_index_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Buscando", :value => "Buscar" %>
    <% end %>
  </ul>

  <% @motorista.each do |motorista| %>
    <ul>
        <%if motorista.ativo == TRUE%>
          <%= image_tag("g.ico", :alt => "bus",  height: 13, width: 13) %></h1>
          <%else %><%= image_tag("r.ico", :alt => "bus",  height: 13, width: 13) %></h1>
        <% end %>
        <%= link_to motorista.nome, motorista_path(motorista), class: "btn btn-default" %>
        <%= link_to "Remover "+motorista.nome, motorista, data: {:confirm => "Deseja remover o motorista?"}, :method => :delete, class: "btn btn-default" %>
    </ul>
  <% end %>
<br>
<ul>
  <%= link_to 'Novo Motorista', new_motorista_path, class:"btn btn-default" %>
</ul>
  </div>
</div>