<p id="notice"><%= notice %></p>

<p>
  <strong>Cpf:</strong>
  <%= @motorista.cpf %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @motorista.nome %>
</p>

<p>
  <strong>Numerodehoras:</strong>
  <%= @motorista.numeroDeHoras %>
</p>

<p>
  <strong>Bancodehoras:</strong>
  <%= @motorista.bancoDeHoras %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @motorista.telefone %>
</p>

<%= link_to 'Editar', edit_motorista_path(@motorista), class: "btn btn-default" %> |
<%= link_to 'Voltar', motorista_index_path, class: "btn btn-default" %>
