<p id="notice"><%= notice %></p>

<h1>Manutencaos</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Veiculo</th>
      <th>Descricao</th>
      <th>Custo</th>
      <th>Realizadoem</th>
      <th>Realizadoquando</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manutencaos.each do |manutencao| %>
      <tr>
        <td><%= manutencao.usuario.nome %></td>
        <td><%= manutencao.veiculo.nome %></td>
        <td><%= manutencao.descricao %></td>
        <td><%= manutencao.custo %></td>
        <td><%= manutencao.realizadoEm %></td>
        <td><%= manutencao.realizadoQuando %></td>
        <td><%= link_to 'Show', manutencao %></td>
        <td><%= link_to 'Edit', edit_manutencao_path(manutencao) %></td>
        <td><%= link_to 'Destroy', manutencao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manutencao', new_manutencao_path %>
