<p id="notice"><%= notice %></p>
<div class = "jumbotron text-center">
  <h1>Manutenções <%= image_tag("tool.png", :alt => "bus",  height: 55, width: 55) %></h1>
  <p>Página principal que lista por placa e os veículos que precisam de alguma manutenção</p>
</div>

<div class="container">
  <div class="jumbotron">
    <div class="form-inline">
  <ul>
    <%= form_tag manutencaos_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Buscando", :value => "Buscar" %>
    <% end %>
  </ul>
    </div>

  <% @manutencaos.each do |manutencao| %>
    <ul>

        <%= link_to manutencao.realizadoQuando, manutencao_path(manutencao), class: "btn btn-default" %>
        <%= link_to "Desagendar", manutencao, data: {:confirm => "Deseja realmente desagendar esta manutenção?"}, :method => :delete, class: "btn btn-default" %>
    </ul>
  <% end %>
<br>
  <table class="table table-bordered">
  <tr>
    <th bgcolor="#000000"><font color="#ffffff">Manutenção do óleo do motor e filtro de óleo</font></th>

  </tr>

  <% @Vmanutencao.each do |manutencao|  %>
        <tr>
          <td> Placa <%= manutencao.placa %></td>
        </tr>
        <% end %>

  <tr>
    <th bgcolor="#000000"><font color="#ffffff">Manutenção de filtro de combustível, filtro de ar e filtro de ar condiconado</font></th>

  </tr>

  <% @Vmanutencao20.each do |manutencao|  %>
    <tr>
      <td>Placa  <%= manutencao.placa %></td>
    </tr>
  <% end %>

  <tr>
    <th bgcolor="#000000"><font color="#ffffff">Manutenção de correia dentada e corrente comando</font></th>

  </tr>

  <% @Vmanutencao40.each do |manutencao|  %>
    <tr>
      <td>Placa  <%= manutencao.placa %></td>
    </tr>
  <% end %>

  <tr>
    <th bgcolor="#000000"><font color="#ffffff">Manutenção de velas e cabos de velas</font></th>

  </tr>

  <% @VmanutencaoVela.each do |manutencao|  %>
    <tr>
      <td>Placa  <%= manutencao.placa %></td>
    </tr>
  <% end %>

  <tr>
    <th bgcolor="#000000"><font color="#ffffff">Manutenção de filtro separador </font></th>

  </tr>

  <% @VmanutencaoFiltro.each do |manutencao|  %>
    <tr>
      <td>Placa  <%= manutencao.placa %></td>
    </tr>
  <% end %>

  <tr>
    <th bgcolor="#000000"><font color="#ffffff">Manutenção de óleo de caixa </font></th>

  </tr>

  <% @VmanutencaoOleoCaixa.each do |manutencao|  %>
    <tr>
      <td>Placa  <%= manutencao.placa %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Agendar manutenção', new_manutencao_path, class:"btn btn-default" %>
    </div>
  </div>
</div></div>
