<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @manutencao.usuario.nome %>
</p>

<p>
  <strong>Veículo:</strong>
  <%= @manutencao.veiculo.placa %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @manutencao.descricao %>
</p>

<p>
  <strong>Custo:</strong>
  <%= @manutencao.custo %>
</p>

<p>
  <strong>Realizado em:</strong>
  <%= @manutencao.realizadoEm %>
</p>

<p>
  <strong>Realizado quando:</strong>
  <%= @manutencao.realizadoQuando %>
</p>

<%= link_to 'Editar', edit_manutencao_path(@manutencao), class:"btn btn-default" %> |
<%= link_to 'Voltar', manutencaos_path, class:"btn btn-default"  %>
