
<%= form_with(model: veiculo, local: true) do |form| %>
  <% if veiculo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(veiculo.errors.count, "erros") %> proíbem este veículo de ser salvo:</h2>

      <ul>
      <% veiculo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Placa %>
    <%= form.text_field :placa, id: :veiculo_placa %>
  </div>

  <div class="field">
    <%= form.label :Modelo %>
    <%= form.select :modelo, ["ambulância", "caminhonete", "ônibus", "passeio", "trator"],id: :veiculo_modelo %>
  </div>

  <div class="field">
    <%= form.label :Ano %>
    <%= form.text_field :ano, id: :veiculo_ano %>
  </div>

  <div class="field">
    <%= form.label :Cor %>
    <%= form.text_field :cor, id: :veiculo_cor %>
  </div>

  <div class="field">
    <%= form.label :Quilometragem %>
    <%= form.text_field :quilometragem, id: :veiculo_quilometragem %>
  </div>

  <div class="field">
    <%= form.label :Manutenção_em_Dia %>
    <%= form.check_box :manutencaoEmDia, id: :veiculo_manutencaoEmDia %>
  </div>

  <div class="field">
    <%= form.label :Alocado %>
    <%= form.check_box :alocado, id: :veiculo_alocado %>
  </div>

  <div class="field">
    <%= form.label :ativo %>
    <%= form.check_box :ativo, id: :usuario_ativo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

