<p id="notice"><%= notice %></p>

<h1>Veiculos
  <ul>
    <%= form_tag veiculos_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Buscando", :value => "Buscar" %>
    <% end %>
  </ul>

  <% @veiculos.each do |veiculo| %>
    <ul>
      <li><%= link_to veiculo.placa , veiculo_path(veiculo)%></li>
      <td><%= link_to "Remover", veiculo, data: {:confirm => "Deseja remover o veículo?"}, :method => :delete %></td>
    </ul>
  <% end %>
<br>

<p>
  <%= link_to 'Novo Veiculo', new_veiculo_path %><br />
  <%= link_to 'Voltar', welcome_index_path %><br />
</p>