<p id="notice"><%= notice %></p>
<div class = "title-container">
  <h1>Veículos</h1>
</div>
  <ul>
    <%= form_tag veiculos_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Buscando", :value => "Buscar" %>
    <% end %>
  </ul>

  <% @veiculos.each do |veiculo| %>
    <ul>
      <li>
        <%= link_to veiculo.placa , veiculo_path(veiculo), class: "btn btn-default"%>
        <%= link_to "Remover", veiculo, data: {:confirm => "Deseja remover o veículo?"}, :method => :delete, class: "btn btn-default" %>
      </li>
    </ul>
  <% end %>
<br>

<p>
  <%= link_to 'Novo Veiculo', new_veiculo_path, class: "btn btn-default" %><br />
</p>