<p id="notice"><%= notice %></p>
<div class = "jumbotron text-center">
  <h1>Informações do véiculo</h1>
</br>
</div>
<div class="container">
<div class="jumbotron">
  <p>
  <strong>Placa:</strong>
  <%= @veiculo.placa %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @veiculo.modelo %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @veiculo.ano %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @veiculo.cor %>
</p>

<p>
  <strong>Quilometragem:</strong>
  <%= @veiculo.quilometragem %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @veiculo.ativo %>
</p>

<%= link_to 'Editar', edit_veiculo_path(@veiculo), class: "btn btn-default" %>
<%= link_to 'Voltar', veiculos_path, class: "btn btn-default"%>
</div>
</div>