<p id="notice"><%= notice %></p>

<h1>Usuarios
  <ul>
    <%= form_tag usuarios_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Buscando", :value => "Buscar" %>
    <% end %>
  </ul>

  <% @usuarios.each do |usuario| %>
    <ul>
      <li><%= link_to usuario.nome, usuario_path(usuario) %></li>
      <td><%= link_to "Remover", usuario, data: {:confirm => "Deseja remover o usuário?"}, :method => :delete %></td>
    </ul>
  <% end %>
<br>

<p>
  <%= link_to 'Novo Usuario', new_usuario_path %><br />
  <%= link_to 'Voltar', welcome_index_path %><br />
</p>