<%if current_user.capacidadeDeGerencia == TRUE %>

  <div class = "jumbotron text-center">
  <p id="notice"><%= notice %></p>
    <h1>Informações do usuário</h1>
  </br>
</div>
<div class="container">
  <div class="jumbotron">
<p>
  <strong>CPF:</strong>
  <%= @usuario.cpf %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @usuario.nome %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @usuario.senha %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @usuario.telefone %>
</p>

<p>
  <strong>Capacidade de Gerência:</strong>
  <%= @usuario.capacidadeDeGerencia %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @usuario.ativo %>
</p>

<%= link_to 'Editar', edit_usuario_path(@usuario), class: "btn btn-default" %>
<%= link_to 'Voltar', usuarios_path, class: "btn btn-default" %>

  </div>
</div>

<% end %>