<p id="notice"><%= notice %></p>

<p>
  <strong>Cpf:</strong>
  <%= @usuario.cpf %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @usuario.nome %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @usuario.senha %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @usuario.telefone %>
</p>

<p>
  <strong>Capacidadedegerencia:</strong>
  <%= @usuario.capacidadeDeGerencia %>
</p>

<%= link_to 'Editar', edit_usuario_path(@usuario), class: "btn btn-default" %> |
<%= link_to 'Voltar', usuarios_path, class: "btn btn-default" %>

