<!DOCTYPE html>
<html>
  <head>
    <title>GETS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bootstrap.min.js" rel="stylesheet" type="text/css">
  </head>

  <body>
  <%if current_user %>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"> <%= link_to "Página Inicial", welcome_index_path, class: "navbar-brand" %></a>
      </div>
      <ul class="nav navbar-nav">
        <%if current_user.capacidadeDeGerencia == TRUE %>
          <li><%= link_to 'Veiculos', veiculos_path %></li>
          <li><%= link_to 'Usuarios', usuarios_path %></li>
        <% end %>
        <li><%= link_to 'Motoristas', motorista_index_path %></li>
        <li><%= link_to 'Viagens', viagems_path %></li>
        <%if current_user.capacidadeDeGerencia == TRUE %>
          <li><%= link_to 'Manutenções', manutencaos_path %></li>
        <% end %>

      </ul>
    </div>
  </nav>
  <% end %>

  <section class="container">
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash alert <%= alert_class(key) %>"><%= value %></div>
        <% end %>
      </div>
    </section>
    <%= yield %>
  </body>
</html>
